<div class="container">
  <mat-card class="card-login">
    <mat-card-title class="card-title">Login</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="form-field">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Senha</mat-label>
          <input type="password" matInput>
        </mat-form-field> <br>
        <mat-card-actions>
          <button mat-raised-button color="primary">Login</button>
        </mat-card-actions> <br>
        <mat-card-footer>
          Não possui conta?  <button mat-button color="primary">Clique aqui</button>
        </mat-card-footer>
      </form>
    </mat-card-content>
  </mat-card>
</div>

